<link href="@@DIR@@css/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection"> 
<script src="assets/js/PDFThumbnail/pdfThumbnails.js"></script>
<script src="assets/js/PDFThumbnail/pdf.js"></script>
<script src="assets/js/PDFThumbnail/pdf.worker.js"></script>
<style>

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 36px;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.github-big-icon-search {
    position: absolute;
    right: 150px;
    top: -87px
}
.github-big-icon-search span {
    font-size: 400px;
    opacity: .1
}
.github-big-icon {
    position: absolute;
    right: 150px;
    top: -85px
}
.github-big-icon span {
    font-size: 400px;
    opacity: .1
}
.github-big-icon-movil-search {
    position: absolute;
    right: 7px;
    top: -110px;
}
.github-big-icon-movil-search span {
    font-size: 335px;
    opacity: .1;
}
.github-big-icon-movil {
    position: absolute;
    right: 7px;
    top: -70px;
}
.github-big-icon-movil span {
    font-size: 335px;
    opacity: .1;
}
.icon-file span {
    color: #607d8b;
}
.list-group-item {
  border: none !important;
}
.list-group-sm .list-group-item.active {
  border-left: none !important;
  border-right: none !important
}
.sweet-alert {
  border-radius: 20px;
  border-style: solid;
  border-color: #424aa07a !important;
  border-width: 5px
}

.m .sweet-overlay {
  background-color: rgba(0, 188, 212, 0.27);
}

.a .sweet-overlay {
  background-color: rgba(239, 67, 13, 0.45);
}
</style>
<input class="form-control" id="valadm" type="hidden" value="@@ADMIN@@">
<div class="section section-lg" style="padding-top: 0rem;padding-bottom: 2rem;">
   <div class="container">
      <div class="row pt-5 pt-md-0">
         <div class="col-12 col-md-4 d-none d-lg-block">
            <div class="card border-light p-2">
               <div class="card-header text-center">
                  <div class="mx-auto"> 
                    <img src="assets/img/documentos.svg" class="card-img-top border-white" alt="">
                  </div>
               </div>
               <div class="card-body p-2">

                  <ul class="list-inline text-center mb-0">
                    <li class="list-inline-item">
                      <a onclick="Word();" class="icon icon-md icon-twitter mr-3" data-toggle="tooltip" data-placement="top" title="Word"><span class="far fa-file-word"></span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a onclick="Excel();" class="icon icon-md icon-slack mr-3" data-toggle="tooltip" data-placement="top" title="Excel"><span class="fas fa-file-excel"></span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a onclick="PDF();" class="icon icon-md icon-dribbble mr-3" data-toggle="tooltip" data-placement="top" title="PDF"><span class="far fa-file-pdf"></span>
                      </a>
                    </li>
                    <li class="list-inline-item" style="margin-right: 1.2rem !important;">
                      <a onclick="Archivos_Texto();" class="icon icon-md icon-file" data-toggle="tooltip" data-placement="top" title="Archivo"><span class="far fa-file"></span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a onclick="Buscar();" class="icon icon-md icon-file" data-toggle="tooltip" data-placement="top" title="Buscar"><span class="fas fa-search"></span>
                      </a>
                    </li>
                  </ul>

                  <div class="list-group dashboard-menu list-group-sm" style="margin-top: 25px;">
                   
                    <span class="text-turqueza" style="font-size: 35px; font-weight: 600;">Carpetas</span>
                    
                    <a id="acuerdo" onclick="Acuerdo();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="acufolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Acuerdos 
                    </a>
                    <a id="boletines" onclick="Boletines();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="bolfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Boletines 
                    </a>
                    <a id="comunicados" onclick="Comunicados();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="comfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Comunicados
                    </a>
                    <a id="contrato" onclick="Contrato();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="confolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Contrato Concesi&oacute;n 
                    </a>
                     <a id="decretos" onclick="Decretos();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="decfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Decretos
                    </a>
                     <a id="guias" onclick="Guias();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="guifolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Gu&iacute;as de Revisi&oacute;n 
                    </a>
                    <a id="manuales" onclick="Manuales();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="manfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Manuales 
                    </a>
                    <a id="normativas" onclick="Normativas();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="norfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Normativas 
                    </a>
                    <a id="orpihtt" onclick="ORP_IHTT();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="orpfolder" class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>ORP IP-IHTT 
                    </a>
                    <a id="requisitos" onclick="Requisitos();" class="d-flex list-group-item list-group-item-action">
                      <span class="icon icon-xs"><span id="reqfolder"  class="fas fa-folder text-turqueza" style="margin-right: 5px"></span></span>Requisitos 
                    </a>
                     
                  </div>
               </div>
            </div>
         </div>
         <!--menu movil-->
         <div class="col-12 d-lg-none">
            <div class="card bg-white border-light mb-4 mb-lg-5">
               <div class="card-body">
                  <div class="row align-items-center">
                     <div class="col-10 d-flex">
                      <a style="background-color: #5bcfde;" onclick="Buscar();" class="list-group-item list-group-item-action border-0 active">Buscar</a>  
                      <!-- <a href="my-items.html" class="list-group-item list-group-item-action d-none d-sm-block border-0">My Items</a> 
                      <a href="security.html" class="list-group-item list-group-item-action d-none d-md-block border-0">Security</a> -->
                    </div>
                     <div class="col-2 d-flex justify-content-center">
                        <div class="btn-group dropleft">
                          <button class="btn btn-link dropdown-toggle dropdown-toggle-split mr-2 m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm"><span class="fas fa-ellipsis-h icon-secondary fa-lg text-gris"></span> </span><span class="sr-only">Toggle Dropdown</span>
                          </button>
                           <div class="dropdown-menu">
                            <a onclick="Acuerdo();" class="list-group-item list-group-item-action d-sm-none border-0">Acuerdos</a> 
                            <a onclick="Boletines();" class="list-group-item list-group-item-action d-md-none border-0">Boletines</a> 
                            <a onclick="Comunicados();" class="list-group-item list-group-item-action border-0">Comunicados</a> 
                            <a onclick="Contrato();" class="list-group-item list-group-item-action border-0">Contrato Concesión</a>
                            <a onclick="Decretos();" class="list-group-item list-group-item-action border-0">Decretos</a>
                            <a onclick="Guias();" class="list-group-item list-group-item-action border-0">Guias Revisión</a>
                            <a onclick="Manuales();" class="list-group-item list-group-item-action border-0">Manuales</a>
                            <a onclick="Normativas();" class="list-group-item list-group-item-action border-0">Normativas</a>
                            <a onclick="ORP_IHTT();" class="list-group-item list-group-item-action border-0">ORP IP-IHTT</a>
                            <a onclick="Requisitos();" class="list-group-item list-group-item-action border-0">Requisitos</a>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--contenido-->
         <div class="col-12 col-lg-8">

    <!--         <div class="row">
                      <div class="card border-light mb-4 text-left">
                         <div class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-3 col-xl-3" style="text-align: center;border-right: solid 1px #e6e7e8;">
                               <a href="#">
                                 <img data-pdf-thumbnail-file="Documentos/Comunicados/asdas.pdf" data-pdf-thumbnail-height="150"> 
                               </a>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-8">
                               <div class="card-body py-lg-0">
                                  <div class="d-flex no-gutters align-items-center mb-2">
                                     <div class="col text-left">
                                        <ul class="list-group mb-0">
                                           <li class="list-group-item small p-0"><span class="far fa-calendar-alt text-tertiary mr-2"></span>Fecha de Documento: 12 June</li>
                                        </ul>
                                     </div>
                                     <div class="col text-right">
                                        <div class="btn-group">
                                           <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="icon icon-sm"> <span class="fas fa-ellipsis-h icon-secondary"></span> </span> <span class="sr-only">Toggle Dropdown</span> </button> 
                                           <div class="dropdown-menu"> <a class="dropdown-item" href="edit-item.html"> <span class="fas fa-edit mr-2"></span>Edit Item </a> <a class="dropdown-item text-danger" href="#"> <span class="fa fa-trash mr-2" aria-hidden="true"></span>Disable </a> </div>
                                        </div>
                                     </div>
                                  </div>
                                  <a href="#">
                                     <h2 class="h5">Apple MacBook Pro 15in Core i7 2.8GHz Retina, 16GB RAM, 512GB SSD</h2>
                                  </a>
                                  <div class="col d-flex pl-0"><span class="text-success font-small mr-3"><span class="fas fa-check-circle mr-2"></span>Active</span> <span class="text-muted font-small mr-3"><span class="fas fa-eye mr-2"></span>680</span> <span class="text-muted font-small mr-3"><span class="far fa-heart mr-2"></span>10</span> <a class="font-small text-dark" href="messages.html"><span class="fas fa-envelope mr-2"></span>8</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div> -->

            <div id="tarconsulta">

              <div class="col-12 col-sm-12 mb-4">
                <div class="card text-center border-light" style="min-height: 25.2rem;">
                    <h2 class="h1 mb-0 text-center" style="font-size: 4rem; margin-top: 5px;">Consulta tu Documento</h2>
                    <!--Logo pantalla grande-->
                    <div class="col-12 d-none d-lg-block">
                      <div class="github-big-icon-search"><span class="fas fa-search"></span></div>
                    </div>
                    <!--Logo pantalla movil-->
                    <div class="col-12 d-lg-none">
                      <div class="github-big-icon-movil-search"><span class="fas fa-search"></span></div>
                    </div>
                  <div class="card-body">
                    <form action="#">
                      <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2" style="border: solid 1px #41476726;">
                         <div class="row align-items-center">
                            <div class="col">
                               <div class="input-group input-group-merge shadow-none">
                                  <div class="input-group-prepend"><span class="input-group-text bg-transparent border-0"><i class="fas fa-search"></i></span></div>
                                  <input id="inputsearch" type="text" class="form-control border-0 form-control-flush shadow-none pb-2" placeholder="Consultar" required> 
                               </div>
                            </div>
                            <div class="col-auto"> 
                              <button onclick="getURLDocumento(this);" type="button" class="btn btn-block btn-light rounded-pill">Buscar</button> 
                            </div>
                         </div>
                      </div>
                    </form>
                     
                  </div>
                </div>
              </div>
              
            </div>


            

            <div class="col-12 col-sm-12 mb-4" id="tarcarpetas" style="display: none;">
              <div class="card text-center border-light" style="min-height: 25.2rem;">
                <h2 class="h1 mb-0 text-center" style="font-size: 3.5rem; margin-top: 5px;"><div class="text-turqueza" id="tartitulo"></div></h2>

                <!--Logo pantalla grande-->
                <div class="col-12 d-none d-lg-block">
                  <div class="github-big-icon"><span class="fas fa-folder"></span></div>
                </div>
                <!--Logo pantalla movil-->
                <div class="col-12 d-lg-none">
                  <div class="github-big-icon-movil"><span class="fas fa-folder"></span></div>
                </div>


                <!-- <div class="github-big-icon"><span class="fas fa-folder"></span></div> -->
                <div class="card-body">
                    
                   <div class="row" id="contenidomanuales">

                      
                   </div>
                   

                </div>
              </div>
            </div>

            
         </div>
      </div>
   </div>
</div>


<script>
//Funcion para el autocomplete del input
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var tramites = [@@DOCUMENTOS@@];

/*initiate the autocomplete function on the "inputsearch" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("inputsearch"), tramites);
</script>
