<link href="@@DIR@@css/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection"> 
<style>
.sweet-alert {
  border-radius: 20px;
  border-style: solid;
  border-color: #424aa07a !important;
  border-width: 5px
}

.m .sweet-overlay {
  background-color: rgba(0, 188, 212, 0.27)
}

.a .sweet-overlay {
  background-color: rgba(239, 67, 13, 0.45)
}
.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto
}
.content{
overflow: hidden;
width: 25rem;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical
}
.owl-theme .owl-nav {
  margin-top: -1.75rem !important
}
.github-big-icon {
  position: absolute;
  right: 150px;
  top: 2px;
}
.github-big-icon span {
    font-size: 400px;
    opacity: .1;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<input class="form-control datepicker" id="valinput" type="hidden" value="1">
<div class="section section-lg" style="padding-top: 0rem;padding-bottom: 2rem;">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
         <div class="mt-6 mb-5 text-center"><i class="fas fa-question-circle" style="margin-right: 5px;font-size: 4rem;line-height: 2;"></i><span class="h1">Preguntas Frecuentes</span></div>
      </div>
    </div>

    <div class="github-big-icon"><span class="fas fa-question"></span></div>

    <div class="row">
      <div class="col-md-10 col-lg-12">
         <div class="nav-wrapper position-relative mb-2">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
               <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><span class="fas fa-laptop mr-2"></span>Tr&aacute;mites</a></li>
               <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><span class="fas fa-question-circle mr-2"></span>Consultas</a></li>
               <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><span class="fas fa-globe mr-2"></span>P&aacute;gina Web</a></li>
            </ul>
         </div>
         <div class="card" style="background-color: #ffffff0d">
            <div class="card-body p-0">
               <div class="tab-content" id="tabcontent2">
                  <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                    <div class="col-12 col-lg-12">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                             <h2 class="accordion-header" id="flush-headingOne"><button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><span class="fas fa-car mr-2"></span> ¿Que tr&aacute;mite necesito para una nueva unidad?</button></h2>
                             <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample" style="">
                                <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                             </div>
                          </div>
                          <div class="accordion-item">
                             <h2 class="accordion-header" id="flush-headingTwo"><button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"><span class="fas fa-car mr-2"></span> ¿Que informaci&oacute;n se necesita para ingresar una nueva mototaxi?</button></h2>
                             <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample" style="">
                                <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                             </div>
                          </div>
                          <div class="accordion-item">
                             <h2 class="accordion-header" id="flush-headingThree"><button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"><span class="fas fa-folder mr-2"></span> ¿Que documentos se necesitan para un cambio de unidad?</button></h2>
                             <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample" style="">
                                <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                             </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                     <p>Photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
                     <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                     <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
                     <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>


    




  </div><!--container-->

    

</div>
</div>
