<link rel="stylesheet" href="/assets/css/navbar.css">
<div class="navbar-collapse collapse" id="navbar_global">
   <div class="navbar-collapse-header">
      <div class="row">
         <div class="col-6 collapse-brand">
            <a href="index.html">
               <img src="assets/img/escudo.png" alt="Themesberg logo" style=" width: 4.5rem; height: 6rem;">
            </a>
         </div>
         <div class="col-6 collapse-close">
            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation">
            </a>
         </div>
      </div>
   </div>
   <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <!--Inicio-->
      <li class="nav-item dropdown">
         <a href="index" class="nav-link">Inicio</a>
      </li>
      <!--acerca del ihtt-->
      <li class="nav-item dropdown">
         <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false" data-toggle="dropdown">Acerca del IHTT<i class="fas fa-angle-down nav-link-arrow ml-1"></i></a>
         <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
            <div class="row">
               <div class="col-7">
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-history mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="#">Historia</a>
                     </li>
                     <!-- <li class="mb-2 megamenu-item"><span class="fas fa-newspaper mr-2"></span><a class="megamenu-link" href="Noticias">Notas de Prensa</a></li> -->
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-award mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Politicas_Calidad">Políticas de Calidad</a></li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-certificate mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="assets/Documentos/IMPLEMENTACION_DEL_SGC_08042021.pptx">Certificación ISO 9001:2015</a>
                     </li>
                  </ul>
               </div>
               <div class="col-5">
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-users mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Comision_Directiva">Comisi&oacute;n Directiva</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-sitemap mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Organigrama">Organigrama</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </li>
      <!--tramites-->
      <li class="nav-item dropdown"><a href="Tramites" class="nav-link">Gestiones</a></li>
      <!--contactanos-->
      <li class="nav-item dropdown"><a href="Contactanos" class="nav-link">Cont&aacute;ctenos</a></li>
       <!--Menu Comunucaciones-->
      <li class="nav-item dropdown">
         <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false" data-toggle="dropdown">Comunicaciones <i class="fas fa-angle-down nav-link-arrow ml-1"></i></a>
         <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
            <div class="row">
               <div class="col-7">
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-file-invoice mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Lista_Comunicados">Comunicados</a>
                     </li>
                     <!-- <li class="mb-2 megamenu-item"><span class="fas fa-newspaper mr-2"></span><a class="megamenu-link" href="Noticias">Notas de Prensa</a></li> -->
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-file-image mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Lista_Campañas">Campañas Institucionales</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-file-pdf mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="assets/Documentos/Ley_de_Transporte_Terrestre_de_Honduras.pdf">Ley de Transporte</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-award mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Probidad_Etica">Probidad y &Eacute;tica</a>
                     </li>
                  </ul>
               </div>
               <div class="col-5">
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-newspaper mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Noticias">Notas de Prensa</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-file-alt mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="Lista_Boletines">Boletines</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <span class="fas fa-question-circle mr-2" style="color: #5bcfde !important;"></span>
                        <a class="megamenu-link text-light" href="#">FAQ's</a>
                     </li>
                  </ul>
                 <!--  <h6 class="d-block mb-3 text-primary">Billing</h6>
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../dashboard/billing.html">Billing details</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../dashboard/invoice.html">Invoice</a></li>
                  </ul> -->
               </div>
            </div>
         </div>
      </li>
      <!--Enlaces-->
      <li class="nav-item dropdown">
         <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false" data-toggle="dropdown">Enlaces de Inter&eacute;s<i class="fas fa-angle-down nav-link-arrow ml-1"></i></a>
         <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
            <div class="row">
               <div class="col-5">
                  <ul class="list-style-none mb-5">
                     <li class="mb-2 megamenu-item">
                        <a class="megamenu-link text-light" href="https://presidencia.gob.hn" target="_blank">Casa Presidencial</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <a class="megamenu-link text-light" href="https://sde.gob.hn" target="_blank">Secretaría de Desarrollo Económico</a>
                     </li>
                     <li class="mb-2 megamenu-item">
                        <a class="megamenu-link text-light" href="https://www.ip.gob.hn" target="_blank">Instituto de la Propiedad</a>
                     </li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://www.aduanas.gob.hn" target="_blank">Aduanas</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://www.cnbs.gob.hn" target="_blank">Comisión Nacional de Bancos y Seguros</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="#" target="_blank">Covid-19 Honduras</a></li>
                     <!-- enlace anterior no funciona https://covid19honduras.org -->
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://911.gob.hn" target="_blank">911</a></li>

                    
                  </ul>
               </div>
               <div class="col-7">
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="#">Secretaría de Infraestructura y Servicios Públicos</a></li>
                     <!-- enlace anterior ya no funciona https://www.insep.gob.hn -->
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://www.amdc.hn">Alcaldía Municipal</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="http://iht.hn">Instituto Hondureño de Turismo</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="#">Copeco</a></li>
                     <!-- enlace anterior que no funciona: https://www.insep.gob.hn -->
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://banhprovi.gob.hn">Banhprovi</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://ahiba.hn" target="_blank">Asociación Hondureña de Instituciones Bancarias</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link text-light" href="https://www.policianacional.gob.hn/inicio" target="_blank">Policía Nacional</a></li>
                     
                  </ul>
                 <!--  <h6 class="d-block mb-3 text-primary">Billing</h6>
                  <ul class="list-style-none mb-4">
                     <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../dashboard/billing.html">Billing details</a></li>
                     <li class="mb-2 megamenu-item"><a class="megamenu-link" href="../dashboard/invoice.html">Invoice</a></li>
                  </ul> -->
               </div>
            </div>
         </div>
      </li>
      <li class="nav-item dropdown"><a href="Cocoin_IHTT" class="nav-link">Control Interno IHTT</a></li>
      <!--Tutoriales-->
      <!-- <li class="nav-item dropdown"><a href="Tutoriales" class="nav-link">Tutoriales</a></li> -->
   </ul>
</div>