<style>
.zoom-2 {
  /*padding: 50px;*/
  /*background-color: green;*/
  transition: transform .2s;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  /*width: 200px;
  height: 200px;*/
  margin: 0 auto;
  z-index: 100000;
}
.zoom-2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
</style>
<section class="section section-lg" style="padding-top: 15rem;">
   <div class="container mt-n8 mt-lg-n11 z-2">
      <div class="row justify-content-center">
         <div class="col">
            <div class="card border-light shadow">
                <img src="assets/img/organigrama.png" class="card-img-top rounded shadow border-0" alt="Christopher Avatar">
            </div>
         </div>
      </div>
   </div>
</section>